body
{
	overflow-y: hidden;
}


#header
{
	margin-bottom: 14px;
}


#header h3
{
	margin-top: -10px;
	margin-bottom: -20px;
}

#header a
{
	color: #ff2100;
	font-size: 14px;
	margin-left: 10px;
}

.tabs ul
{
	padding: 0;
	margin: 0;
}

.tabs li
{
	float: left;
	margin-right: 20px;
	list-style: none;
}

.tabs a
{
	font-size: 20px;
	color: #91b3af;
}

.tabs a.active
{
	color: #2d6960;
}

.tab-line
{
	margin-top: 40px;
	border-color: #2d6960;
	clear: both;
}

#timeline-view
{
	overflow-x: show;
	overflow-y: hidden;
	height: 530px;
	width: 3024px;
}

.timeline-header
{
	color: #000;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 20px;
	position: absolute;
}

.timeline-content
{
	margin-top: 0px;
}

.timeline-inner
{
	margin-top: 28px;
}

.left-pane
{
	position: absolute;
	height: 450px;
	background-color: #e7e8e1;
	color: #2d6960;
	margin-top: 10px;
	width: 150px;
	padding: 10px;
	z-index: 150;
	overflow-y: auto;
}

.left-pane label 
{
	color: #91b3af !important;
}

#timeline-control
{
	width: 800px;
	position: fixed;
}

.filters
{
	height: 20px;
	margin-top: 37px;
	position: absolute;
}

.enabled-filters,
.filter-title
{
	display: table-cell;
	margin-right: 20px;
	height: 20px;
	vertical-align: middle;
}


.filter-title
{
	font-family: "Miso", "helvetica";
	color: #2d6960;
}

.enabled-filter {
	width: 120px;
	background-color: #e6e6e6;
	color: #2d6960;
	position: relative;
	float: left;
	margin-left: 20px;
}

.enabled-filter-inner
{
	vertical-align: middle;
	height: 19px;
	display: table-cell;
}

.enabled-filter .close,
.enabled-filter .name,
.enabled-filter img
{
	float: left;
	color: #2d6960;
}

.enabled-filter .close
{
	width: 15px;
	margin-left: 5px;
	background-color: inherit;
	font-size: 14px;
	opacity: 1;
	text-shadow: none;
	font-weight: inherit;
}

.enabled-filter img
{
	max-height: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 2px;
}

.explore-header
{
	text-align: center;
	font-size: 21px;
	color: #2d6960;
	margin-bottom: 10px;
}

.right-pane
{
	margin-left: 200px;
	margin-top: 10px;
}

.right-pane, .left-pane
{
	float: left;
}

.filters
{
	margin-left: 0px;
	margin-bottom: 10px;
	clear: both;
}

.years
{
	float: left;
}

.year
{
	font-family: "Miso";
	float: left;
	margin-right: 20px;
}

.year-line
{
	float: left;
	margin-bottom: 5px;
}

.years .active a
{
	color: #2d6960;
}

.year a
{
	color: #91b3af;
}

.year-lines hr.active
{
	border-color: #2d6960;
}

.year-lines .year-line
{
	border-color: #91b3af;
}


#add-photos
{
	background-color: teal;
	text-align: center;
	border-color: #fff;
	border-width: 1px;
	border-style: dotted;
}

#drag-drop
{
	font-size: 12px;
	font-weight: bold;
}

.span-starter,
.moment
{
	height: 72px;
	margin-top: 8px;
	margin-bottom: 8px;	
	padding: 10px;
}

.moment
{
	border-style: solid;
	border-width: 2px;
	border-color: none;
	background-position: 20px 0;
}

.moment
{
	background-color: #2d6960;
	width: 295px;
	cursor: pointer;
	position: relative;
	background-position: 143px 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.moment-hover
{
	background-color: #9aa951;
	cursor: pointer;
	width: 100%;
	height: 100%;
	margin: -10px -10px;
	z-index: 0; 
	font-size: 22px;
	position: absolute;
	border: none; 
	padding-right: 20px;
	text-align: center; 
	line-height: 80px;
	width: 295px;
}

.moment-overlay
{
	position: absolute;
	z-index: 99;
	opacity: .0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.moment.disabled
{
	opacity: .3;
}

.highlight
{
	border-style: solid;
	border-width: 2px;

}

.moment-title
{
	margin-top: 4px;
	font-size: 22px;
	width: 130px;
}

.moment-date
{
	font-size: 16px;
}

.people,
.people-open
{
	background-color: #225850;
	width: 100%;
	color: #efe69b;
	font-size: 16px;
	font-family: MisoLight;
	line-height: 12px;
	left: 0px;
	top: 75px;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
}

.people-open
{
	z-index: 100;
}

.other-people
{
	color: #efe69b !important;
}

.person
{
	padding: 3px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: #91b3af solid 1px;
}

.checkbox.on
{
	color: #2d6960 !important;
}

.person label
{
	font-size: 16px;
}

.person img
{
	width: 25px;
	height: 25px;
	float: right;
}

.names
{
	margin-left: 5px;
}

/* should be half the width of a .moment */
.span-starter
{
	cursor: pointer;	
	width: 100px;
}

.span1
{
	width: 20px !important;
	margin-left: inherit;
}

.hidden
{
	display: none;
}