body
{
	background-color: #fdfdfd;
}

#top-container
{
	position: fixed;
	background-color: #fdfdfd;
	z-index: 1;
	width: 100%;
}

#header-color {
  width: 100%;
  height: 70px;
  background-color: rgba(134,208,226,1);
}

#header-text {
	display: block;
	height: 70px;
	color: #fdfdfd;
	font-size: 30px;
	line-height: 70px;
}

#moment-header
{
	height: 30px;
	padding: 15px;
	width: 870px;
	background-color: #666;
}

#moment-header a
{
	color: #8dbacc;
}

#content-pane
{
	width: 900px;
	background-color: #ddd;
}

#moment-header-content
{
	float: left;
}

#moment-header-content form
{
	margin-bottom: 0px;
}

#moment-header-content a
{
	font-size: 18px;
}

#moment-caption
{
	color: #fdfdfd;
}

#audio-control
{
	float: right;
}

#photo-container
{
	z-index: 0;
	padding-bottom: 800px;
	margin-top: 200px;

}

ul
{
	list-style: none;
	margin: 0px;
}

.photo-container
{
	margin-bottom: 30px;
	padding: 0px;
}

.photo:hover
{
	cursor: pointer;
}

.tag-names
{
	margin-top: 20px;
	font-size: 18px;
}


.photo-wrapper
{
	width: 40%;
}


img
{
	width: 100%;
}

.enabled
{
	background-color: #86d0e2;
	color: #000;
}

.disabled
{
	background-color: #bfdadd;
	color: #fdfdfd;
}

.disabled .separator hr
{
	border-color: #fdfdfd;
	margin-left: 7px;
}

.enabled .separator hr
{
	border-color: #eee;
	margin-left: 7px;
}

.adjectives
{
	z-index: 0 !important;
	width: 100%;
}

.adjectives li
{
	z-index: 0 !important;
}
