

#header
{
	height: 100px;
	color: #fff;
}

#header a
{
	color: #fff;
}

#header .moment-name
{
	font-size: 28px;
	margin-top: 5px;
}

#photos
{
	position: fixed;
	width: 5000px;
	overflow-x: hidden;
	-webkit-transform: translate3d(-800px,0px,0px);
	-webkit-transition-duration : .5s;
}

.photo-background
{
	float: left;
	height: 500px;
	width: 900px;	
	margin-right: 50px;
	background-color: #000;
}

.photo-background-filler
{
	float: left;
	height: 500px;
	width: 900px;
	margin-right: 50px;
}

.photo-background .button
{
	margin-top: -35px;
	margin-left: 30px;
	position: absolute;

}

.photo
{
	max-height: 100%;
	vertical-align: middle;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nextPhoto:hover,
.prevPhoto:hover
{
	cursor: pointer;
}

.taggable
{
	cursor: crosshair;
}

.active-tag
{
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
	width: 100px;
	height: 100px;
}

#active-tag .tag-input
{
	margin-top: 5px;
}

.tag-wrapper
{
	position: absolute;
}

.tag
{
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	width: 100px;
	height: 100px;
}

.tag-wrapper:hover .tag
{
	border-style: solid;
	border-color: #ff2d00;
	border-width: 2px;
	cursor: pointer;
}

.tag-content
{
	display: none;
	width: 90px;
	margin-top: 5px;
	padding-left: 10px;
}

.tag-wrapper:hover .tag-content
{
	display: block;
	color: #fff;
	background-color: #000;
	border-width: 2px;
	border-color: #ff2d00;
	border-style: solid;
}