body
{
	background-color: #fdfdfd;
}

#photo-container
{
	padding-bottom: 800px;
}

ul
{
	list-style: none;
}

.photo-container
{
	margin: 40px;
	padding: 0px;
	width: 800px;
}

.photo:hover
{
	cursor: pointer;
}

.tag-names
{
	margin-top: 20px;
	font-size: 18px;
	color: #eeeeee;
}

.tag
{
	line-height: 20px;
}

.photo-wrapper
{
	margin-left: -20px;
	width: 40%;
}


img
{
	width: 100%;
}

.enabled
{
	background-color: #86d0e2;
}

.disabled .separator hr
{
	border-color: #000;
}

.enabled .separator hr
{
	border-color: #eee;
}


.adjectives
{
	width: 100%;
}

