#image-canvas
{
	z-index: 100;
	position: absolute;
	max-width: 500px !important;
	max-height: 500px !important;
}

.passive-tag
{
	opacity: .5;
	cursor: pointer;
}

#live-tag-entry
{
	background-color: #fdfdfd;
	padding: 5px;
}

#activeTag form
{
	margin-left: 15px;
}

#live-tag-entry 
{
	float: right;
}

#live-tag-entry .button-wrapper
{
	margin-left: 300px;
}

#live-tag-entry .input-noun
{
	font-size: inherit;
}