body
{
  background-color: #fdfdfd;
}

#header-color {
  width: 100%;
  height: 70px;
  background-color: rgba(134,208,226,1);
}

#container {
  position: relative;
  top: -70px;
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

#header-text {
  display: block;
  height: 70px;
  color: #fdfdfd;
  font-size: 30px;
  line-height: 70px;
}

#menus {
  display: inline-block;
  position: relative;
  float: left;
  width: 180px;
  height: 1900px;
  margin-top: 30px;
  padding-top: 70px;
  /*background-color: red;*/
  color: #555;
}

#granularity {
  width: 100px;
}

#timeline-axis {
  display: inline-block;
  position: relative;
  float: left;
  width: 100px;
  height: 600px;
  margin-top: 70px;
  /*background-color: blue;*/
  text-align: right;
  color: #555;
  line-height: 250px;
}

#stage {
  display: inline-block;
  position: relative;
  float: left;
  width: 860px;
  /*height: 100px;*/
  /*background-color: blue; */
}

.location {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 38px;
  color: #555;
  /*background-color: green;*/
}

#swimlanes, #lines {
  position: absolute;
  width: 850px;
  height: 1900px;
  margin-top: 30px;
  margin-left: 12px;
  /*background-color: red;*/
}

.swimlane {
  position: relative;
  display: inline-block;
  width: 33%;
  height: 100%;
  /*background-color: green;*/
}

.swimlane:nth-child(odd) {
  background-color: rgba(134,208,226,.2);
}

div.line {
  position: absolute;
  transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%; /* IE 9 */
  -webkit-transform-origin: 0% 50%; /* Safari and Chrome */
  height: 5px;  /*Line width of 3 */
}

div.line-kpop {
  background: rgba(134,208,226,1);
}

div.line-addy {
  background: rgba(140,100,255,1);
}

.invisible {
  opacity: 0;
}

.moment {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}

.moment:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px #21778c;
}

#chachabday {
  width: 200px;
  height: 200px;
  left: 50px;
  top: 1600px;
}
#springbreak {
  width: 200px;
  height: 200px;
  left: 624px;
  top: 1350px;
}
#graduation {
  width: 200px;
  height: 200px;
  left: 50px;
  top: 1100px;
}
#santacon {
  width: 200px;
  height: 200px;
  left: 335px;
  top: 850px;
}
#carnival {
  width: 200px;
  height: 200px;
  left: 50px;
  top: 600px;
}
#halloween {
  width: 100px;
  height: 100px;
  left: 385px;
  top: 400px;
}
#birthdays{
  width: 200px;
  height: 200px;
  left: 335px;
  top: 100px;
}

.photo {
  display: inline-block;
  position: relative;
  float: left;
  background: #111 url("../img/alumni/graduation-1.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.moment-title {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  height: auto;
  /*background-color: rgba(10,10,10,.85);
  color: white;*/
  background-color: rgba(255,255,255,.85);
  color: #555;
  text-align: center;
  font-size: 18px;
}

.moment-hover {
  position: absolute;
  left: 0;
  line-height: 100px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(134,208,226,1);
  opacity: 1;
  font-size: 14px;
  text-align: center;
  color: white;

  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#chachabday1 {
  width: 100%;
  height: 50%;
  background-image: url("../img/nyc-alumni/chachabday-1.jpg");
}
#chachabday2 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/chachabday-2.jpg");
}
#chachabday3 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/chachabday-3.jpg");
}

#springbreak1 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/springbreak-1.jpg");
}
#springbreak2 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/springbreak-30.jpg");
}
#springbreak3 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/springbreak-3.jpg");
}
#springbreak4 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/springbreak-10.jpg");
}

#graduation1 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/graduation-1.jpg");
}
#graduation2 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/graduation-16.jpg");
}
#graduation3 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/graduation-8.jpg");
}
#graduation4 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/graduation-18.jpg");
}

#santacon1 {
  width: 100%;
  height: 50%;
  background-image: url("../img/nyc-alumni/santacon-1.jpg");
}
#santacon2 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/santacon-2.jpg");
}
#santacon3 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/santacon-3.jpg");
}

#carnival1 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/carnival-1.jpg");
}
#carnival2 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/carnival-2.jpg");
}
#carnival3 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/carnival-3.jpg");
}
#carnival4 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/carnival-5.jpg");
}

#halloween1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/nyc-alumni/halloween-1.jpg");
}

#birthdays1 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/birthdays-2.jpg");
}
#birthdays2 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/birthdays-3.jpg");
}
#birthdays3 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/birthdays-4.jpg");
}
#birthdays4 {
  width: 50%;
  height: 50%;
  background-image: url("../img/nyc-alumni/birthdays-6.jpg");
}